.dish-card {
  display: flex;
  background-color: white;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  height: 10vh;
  cursor: pointer;
  opacity: 0;
  animation: fade-in 1s ease-in-out forwards;
  @for $i from 1 through 10 {
    &:nth-child(#{$i}n) {
      animation-delay: #{$i * 0.25}s;
    }
  }

  .dish-card__headings {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem;
    gap: 10px;
    padding-right: 0rem;
    transition: all 0.5s ease-in-out;
    flex-grow: 1;
    min-width: calc(100% - 70px);
    h4 {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    p {
      font-weight: lighter;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 300px;
    }
  }
  .dish-card__price {
    font-size: 0.9rem;
    font-weight: bold;
    align-self: flex-end;
    padding-bottom: 0.6rem;
    padding-left: 1rem;
    padding-right: 1rem;
    transition: all 0.5s ease-in-out;
  }

  .wrap {
    display: flex;
    height: 100%;
    transition: all 0.5s ease-in-out;
  }

  .dish-card__choose {
    height: 100%;
    width: fit-content;
    background-color: $thirdary;
    font-size: 2rem;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

    i {
      transform: rotate(360deg);
      transition: all 0.5s ease-in-out;
    }
  }

  &:hover .dish-card__headings {
    min-width: calc(100% - 150px);
  }
  &:hover .dish-card__choose i {
    transform: rotate(0deg);
  }
}
