@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@keyframes fill-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  background-color: white;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}
a:active {
  color: black;
}

body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

h1,
h2 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.2rem;
}

header {
  background-color: white;
  height: 9vh;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: sticky;
}
header .header__container {
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .header__container .header__logo {
  width: 35%;
  height: 50%;
}
header .header__container .header__logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.header--pages {
  position: sticky;
  top: 0;
  z-index: 1;
  justify-content: space-between;
}
.header--pages .header__logo {
  display: flex;
  align-items: center;
  margin: auto;
}
.header--pages .header__backBtn {
  font-size: 1.2rem;
  color: #686868;
}

.citySelection {
  background-color: #eaeaea;
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 6px 4px -4px #c9c8c8;
  color: #525151;
}
.citySelection i {
  padding-right: 1rem;
}
.citySelection p {
  font-weight: bold;
}

.hero-banner {
  height: 42vh;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 5rem;
}
.hero-banner .hero-banner__headings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 1.5rem;
}
.hero-banner .hero-banner__headings h1 {
  padding: 0 3rem 1rem 3rem;
  line-height: 1.3;
}
.hero-banner .hero-banner__headings p {
  line-height: 1.3;
  font-size: 1.1rem;
  color: gray;
}

.btn, .menu__btn, .hero-banner__button {
  color: white;
  background: #f467ef;
  background: linear-gradient(164deg, #f467ef 4%, #8f39b8 100%);
  box-shadow: 4px 4px 10px #e2e2e2;
  padding: 1rem 1.5rem;
  border-radius: 30px;
  font-size: 1rem;
  transition: all 0.25s ease-in-out;
}
.btn:hover, .menu__btn:hover, .hero-banner__button:hover {
  background: #f467ef;
  background: linear-gradient(164deg, #eb72e7 4%, #b358dd 100%);
  box-shadow: 4px 4px 10px #a09f9f;
  transform: scale(1.05);
}

.menu__btn {
  padding: 1rem 3rem;
}

.process {
  padding: 3rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.process h2 {
  align-self: flex-start;
}
.process .process__step-container {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
}

.step {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  padding: 2rem 0 2rem 3rem;
  border-radius: 20px;
  box-shadow: 5px 5px 10px #e2e1e1;
  position: relative;
  transition: all 0.25s ease-in-out;
}
.step .step__number {
  background-color: #9356dc;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  top: 36%;
  left: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size: 0.8rem;
}
.step .step__icon {
  color: gray;
  font-size: 1.3rem;
  padding-right: 1.5rem;
}
.step .step__title {
  font-weight: bolder;
}
.step--final {
  background-color: #f5edff;
}
.step--final .step__icon {
  color: #9356dc;
}
.step:hover {
  transform: scale(1.02);
}

.restaurants {
  padding: 3rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;
}
.restaurants h2 {
  align-self: flex-start;
}
.restaurants .restaurants__container {
  padding: 2rem 0 0 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
}

.card {
  border-radius: 20px;
  background-color: white;
  overflow: hidden;
  position: relative;
  height: 35vh;
  display: flex;
  flex-direction: column;
}
.card .card__img {
  overflow: hidden;
  flex: 1;
}
.card .card__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card .card__headings {
  padding: 1rem;
  line-height: 1.3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card .card__headings p {
  font-weight: lighter;
}
.card .card__headings .card__headings__icon {
  font-size: 1.8rem;
}
.card .card__badge {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #99e2d0;
  color: #497469;
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
  border-radius: 2px;
  font-weight: bolder;
}

footer {
  background-color: #292828;
  padding: 2rem;
}
footer .footer__logo {
  color: white;
  width: 25%;
  padding-bottom: 1rem;
}
footer .footer__logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
footer .footer__links-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .footer__links-container a {
  color: white;
  display: flex;
  align-items: center;
  font-weight: lighter;
}
footer .footer__links-container a i {
  font-size: 0.7rem;
  padding-right: 1rem;
}
footer .footer__links-container a .fa-hands-helping {
  width: 10px;
}
footer .footer__links-container .footer__link {
  font-weight: 400;
}

*::after,
*::before {
  box-sizing: border-box;
}

.heart {
  width: 40px;
  height: 40px;
}

.icon {
  fill: transparent;
  stroke: #171817;
  stroke-width: 1px;
  cursor: pointer;
  position: relative;
  transition: all 0.25s ease-out;
}
.icon svg {
  overflow: visible;
  width: 2rem;
}
.icon path {
  stroke-dashoffset: 100;
  stroke-dasharray: 1550;
  transform-origin: center;
}
.icon .heart--background {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
  stroke: none;
  fill: url(#gradient-fill);
  pointer-events: none;
  opacity: 0;
  transition: all 1s ease-in-out;
}
.icon .heart--main:hover {
  animation: fill-animation 0.8s ease-in-out infinite;
  stroke: none;
}
.icon .heart--main:hover + .heart--background {
  opacity: 1;
  animation: fill-animation 0.8s ease-in-out infinite;
}

.menu {
  width: 100%;
  background: url("/public/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg") no-repeat fixed;
  background-size: contain;
  background-color: black;
  background-position: 30% 12%;
}
.menu--palette {
  background: url("../public/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg") no-repeat fixed;
  background-size: contain;
  background-color: black;
  background-position: 30% 12%;
}
.menu--francaise {
  background: url("/public/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg") no-repeat fixed;
  background-size: contain;
  background-color: black;
  background-position: 30% 12%;
}
.menu .space {
  height: 250px;
  width: 100%;
}
.menu .menu__container {
  max-width: 100%;
  background-color: #f5f4f4;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding: 1rem;
}
.menu .menu__container .menu__headings {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  padding: 0 0.5rem;
  width: 95%;
}
.menu .menu__container .menu__headings h1 {
  font-family: "Shrikhand", cursive;
}
.menu .menu__container .menu__typeOfDishes {
  animation: fade-in 2s ease-in-out forwards;
}
.menu .menu__container .menu__typeOfDishes h3 {
  font-weight: lighter;
  text-transform: uppercase;
  padding: 0 0 0.3rem 0.5rem;
  position: relative;
}
.menu .menu__container .menu__typeOfDishes h3::before {
  content: "";
  height: 2px;
  width: 40px;
  position: absolute;
  background-color: #99e2d0;
  bottom: 0;
}
.menu .menu__container .menu__typeOfDishes .dishes__container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 1rem 0 3rem 0;
  width: 100%;
}
.menu .menu__container .menu__order {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 3rem;
}

.dish-card {
  display: flex;
  background-color: white;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  height: 10vh;
  cursor: pointer;
  opacity: 0;
  animation: fade-in 1s ease-in-out forwards;
}
.dish-card:nth-child(1n) {
  animation-delay: 0.25s;
}
.dish-card:nth-child(2n) {
  animation-delay: 0.5s;
}
.dish-card:nth-child(3n) {
  animation-delay: 0.75s;
}
.dish-card:nth-child(4n) {
  animation-delay: 1s;
}
.dish-card:nth-child(5n) {
  animation-delay: 1.25s;
}
.dish-card:nth-child(6n) {
  animation-delay: 1.5s;
}
.dish-card:nth-child(7n) {
  animation-delay: 1.75s;
}
.dish-card:nth-child(8n) {
  animation-delay: 2s;
}
.dish-card:nth-child(9n) {
  animation-delay: 2.25s;
}
.dish-card:nth-child(10n) {
  animation-delay: 2.5s;
}
.dish-card .dish-card__infos {
  height: 100%;
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}
.dish-card .dish-card__headings {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding-right: 0rem;
}
.dish-card .dish-card__headings p {
  font-weight: lighter;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
}
.dish-card .dish-card__price {
  font-size: 0.8rem;
  font-weight: bold;
  align-self: flex-end;
  padding-bottom: 1rem;
  transform: translateX(60px);
  transition: all 0.5s ease-in-out;
}
.dish-card .dish-card__choose {
  height: 100%;
  width: fit-content;
  background-color: #99e2d0;
  font-size: 2rem;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  transform: translateX(80px);
  transition: all 0.5s ease-in-out;
}
.dish-card:hover .dish-card__choose {
  transform: translateX(0px);
}
.dish-card:hover .dish-card__price {
  transform: translateX(0px);
}

/*# sourceMappingURL=main.css.map */
