@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes overflowContent {
  0% {
    overflow-y: hidden;
  }
  100% {
    overflow-y: visible;
  }
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  background-color: white;
  border: none;
  cursor: pointer;
}

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Shrikhand", cursive;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

h1,
h2 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: black;
}
a:active {
  color: black;
}

.body-home {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  animation: overflowContent 0.25s ease forwards;
  animation-delay: 4.5s;
}
header {
  background-color: white;
  height: 9vh;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: sticky;
  z-index: 2000;
}
header h1 {
  font-size: 2rem;
}
header .header__container {
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.header--pages {
  position: sticky;
  top: 0;
  z-index: 2000;
}
.header--pages h1 {
  flex: 1;
  text-align: center;
}
.header--pages .header__backBtn {
  font-size: 1.2rem;
  position: absolute;
  left: 0;
  color: #686868;
}

.citySelection {
  background-color: #eaeaea;
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 6px 4px -4px #c9c8c8;
  padding: 0 30px 0 30px;
}
.citySelection .citySelection__search-input {
  height: 100%;
  width: 140px;
  display: flex;
  align-items: center;
  justify-items: center;
}
.citySelection .citySelection__search-input input {
  border: none;
  color: #525151;
  font-weight: bold;
  height: 50%;
  font-size: 1rem;
  background-color: transparent;
}
.citySelection .citySelection__search-input input:focus {
  outline: none;
}
.citySelection .citySelection__search-input i {
  padding-right: 0.5rem;
}

.btn, .menu__btn, .hero-banner__button {
  color: white;
  background: #f467ef;
  background: linear-gradient(164deg, #f467ef 4%, #8f39b8 100%);
  box-shadow: 4px 4px 10px #e2e2e2;
  padding: 1rem 1.5rem;
  border-radius: 30px;
  font-size: 1rem;
  transition: all 0.25s ease-in-out;
}
.btn:hover, .menu__btn:hover, .hero-banner__button:hover {
  background: #f467ef;
  background: linear-gradient(164deg, #eb72e7 4%, #b358dd 100%);
  box-shadow: 4px 4px 10px #a09f9f;
  transform: scale(1.05);
}

.menu__btn {
  padding: 1rem 3rem;
}
@media (min-width: 768px) {
  .menu__btn {
    font-size: 1.2rem;
  }
}

.step {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  padding: 2rem 0 2rem 2rem;
  border-radius: 20px;
  box-shadow: 5px 5px 10px #e2e1e1;
  position: relative;
  transition: all 0.25s ease-in-out;
  width: 90%;
  max-width: 100%;
}
.step .step__number {
  background-color: #9356dc;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  top: 36%;
  left: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size: 0.8rem;
}
.step .step__icon {
  color: gray;
  font-size: 1.3rem;
  padding-right: 1rem;
}
.step .step__title {
  font-weight: bolder;
}
.step--final {
  background-color: #f5edff;
}
.step--final .step__icon {
  color: #9356dc;
}
.step:hover {
  transform: scale(1.02);
}
@media (min-width: 768px) {
  .step .step {
    margin: auto;
    width: 100%;
  }
}

.card {
  border-radius: 20px;
  background-color: white;
  overflow: hidden;
  position: relative;
  height: 35vh;
  display: flex;
  flex-direction: column;
}
.card .card__img {
  overflow: hidden;
  flex: 1;
}
.card .card__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card .card__headings {
  padding: 1rem;
  line-height: 1.3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card .card__headings p {
  font-weight: lighter;
}
.card .card__headings .card__headings__icon {
  font-size: 1.8rem;
}
.card .card__badge {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #99e2d0;
  color: #497469;
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
  border-radius: 2px;
  font-weight: bolder;
}

footer {
  background-color: #292828;
  padding: 2rem;
}
footer h1 {
  color: white;
  font-size: 1.4rem;
  color: white;
  padding-bottom: 1rem;
}
footer .footer__links-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .footer__links-container a {
  color: white;
  display: flex;
  align-items: center;
  font-weight: lighter;
}
footer .footer__links-container a i {
  font-size: 0.7rem;
  padding-right: 1rem;
}
footer .footer__links-container a .fa-hands-helping {
  width: 10px;
}
footer .footer__links-container .footer__link {
  font-weight: 400;
}

*::after,
*::before {
  box-sizing: border-box;
}

.heart {
  width: 40px;
  height: 40px;
}

.icon {
  stroke: #171817;
  stroke-width: 1px;
  cursor: pointer;
  position: relative;
  transition: all 0.25s ease-out;
  width: 40px;
  height: 40px;
  overflow: hidden;
}
.icon svg {
  overflow: visible;
  width: 2rem;
}
.icon path {
  stroke-dashoffset: 100;
  stroke-dasharray: 1550;
  transform-origin: center;
}
.icon .heart--main {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1000;
  fill-opacity: 0;
  opacity: 1;
}
.icon .heart--background {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 400;
  stroke: none;
  fill: url(#gradient-fill);
  pointer-events: none;
  opacity: 1;
  transition: all 0.1s ease-in-out;
  pointer-events: none;
}
.icon .white-panel {
  width: 60px;
  height: 60px;
  position: absolute;
  top: -30%;
  left: -40%;
  z-index: 500;
  transform: translateY(0px);
  background-color: white;
  border-radius: 45%;
  transition: all 0.45s ease-in-out;
}
.icon .white-panel--menu-pages {
  background-color: #f5f4f4;
}
.icon .heart--main:hover + .white-panel {
  transform: translateY(-40px) rotate(850deg);
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}

.loader {
  color: #ff79da;
  font-size: 10px;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.loader:before,
.loader:after {
  content: "";
  position: absolute;
  top: 0;
}

.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
  color: #9356dc;
}

.loader:after {
  left: 3.5em;
  color: #99e2d0;
}

@-webkit-keyframes load7 {
  0%, 80%, 100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%, 80%, 100% {
    box-shadow: 0 2.5em 0 -1.5rem;
  }
  40% {
    box-shadow: 0 2.5em 0 0rem;
  }
}
.process {
  padding: 3rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.process h2 {
  align-self: flex-start;
}
@media (min-width: 768px) {
  .process h2 {
    font-size: 1.8rem;
  }
}
.process .process__step-container {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
}
@media (min-width: 768px) {
  .process .process__step-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 2rem;
    justify-content: flex-start;
  }
}

.modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fade-out 0.25s ease-in-out forwards;
  animation-delay: 2s;
  pointer-events: none;
  z-index: 3000;
}
.modal .content {
  background-color: red;
}

.restaurants {
  padding: 3rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;
}
.restaurants h2 {
  align-self: flex-start;
}
@media (min-width: 768px) {
  .restaurants h2 {
    font-size: 1.8rem;
  }
}
.restaurants .restaurants__container {
  padding: 2rem 0 0 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
}
@media (min-width: 768px) {
  .restaurants .restaurants__container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .restaurants .restaurants__container a {
    width: 45%;
  }
}

.hero-banner {
  height: 42vh;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
}
.hero-banner .hero-banner__headings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 1.5rem;
}
.hero-banner .hero-banner__headings h1 {
  padding: 0 2rem 1rem 2rem;
  line-height: 1.3;
}
.hero-banner .hero-banner__headings p {
  line-height: 1.3;
  font-size: 1.1rem;
  color: gray;
}
@media (min-width: 768px) {
  .hero-banner .hero-banner__headings h1 {
    font-size: 3rem;
  }
  .hero-banner .hero-banner__headings p {
    font-size: 1.3rem;
  }
}

.menu {
  width: 100%;
  background: url("../../../public/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg") no-repeat fixed;
  background-size: contain;
  background-color: black;
  background-position: 30% 12%;
}
.menu--palette {
  background: url("../../../public/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg") no-repeat fixed;
  background-size: contain;
  background-color: black;
  background-position: 30% 12%;
}
.menu--francaise {
  background: url("../../public/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg") no-repeat fixed;
  background-size: contain;
  background-color: black;
  background-position: 30% 12%;
}
.menu--note {
  background: url("../../../public/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg") no-repeat fixed;
  background-size: contain;
  background-color: black;
  background-position: 30% 12%;
}
.menu--delice {
  background: url("../../../public/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg") no-repeat fixed;
  background-size: contain;
  background-color: black;
  background-position: 30% 12%;
}
@media (min-width: 1024px) {
  .menu {
    background-size: cover;
    background-position: 30% 100%;
  }
}
.menu .space {
  height: 27vh;
  width: 100%;
}
@media (min-width: 768px) {
  .menu .space {
    height: 400px;
  }
}
.menu .menu__container {
  max-width: 100%;
  background-color: #f5f4f4;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding: 1rem;
}
.menu .menu__container .menu__headings {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  padding: 0 0.5rem;
  width: 95%;
}
.menu .menu__container .menu__headings h2 {
  font-family: "Shrikhand", cursive;
}
.menu .menu__container .menu-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.menu .menu__container .menu__typeOfDishes {
  animation: fade-in 2s ease-in-out forwards;
  width: 100%;
}
.menu .menu__container .menu__typeOfDishes h3 {
  font-weight: lighter;
  text-transform: uppercase;
  padding: 0 0 0.3rem 0.5rem;
  position: relative;
}
.menu .menu__container .menu__typeOfDishes h3::before {
  content: "";
  height: 2px;
  width: 40px;
  position: absolute;
  background-color: #99e2d0;
  bottom: 0;
}
.menu .menu__container .menu__typeOfDishes .dishes__container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 1rem 0 3rem 0;
  width: 100%;
}
.menu .menu__container .menu__order {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 3rem;
}

.dish-card {
  display: flex;
  background-color: white;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  height: 10vh;
  cursor: pointer;
  opacity: 0;
  animation: fade-in 1s ease-in-out forwards;
}
.dish-card:nth-child(1n) {
  animation-delay: 0.25s;
}
.dish-card:nth-child(2n) {
  animation-delay: 0.5s;
}
.dish-card:nth-child(3n) {
  animation-delay: 0.75s;
}
.dish-card:nth-child(4n) {
  animation-delay: 1s;
}
.dish-card:nth-child(5n) {
  animation-delay: 1.25s;
}
.dish-card:nth-child(6n) {
  animation-delay: 1.5s;
}
.dish-card:nth-child(7n) {
  animation-delay: 1.75s;
}
.dish-card:nth-child(8n) {
  animation-delay: 2s;
}
.dish-card:nth-child(9n) {
  animation-delay: 2.25s;
}
.dish-card:nth-child(10n) {
  animation-delay: 2.5s;
}
.dish-card .dish-card__headings {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem;
  gap: 10px;
  padding-right: 0rem;
  transition: all 0.5s ease-in-out;
  flex-grow: 1;
  min-width: calc(100% - 70px);
}
.dish-card .dish-card__headings h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.3rem;
}
.dish-card .dish-card__headings p {
  font-weight: lighter;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
}
.dish-card .dish-card__price {
  font-size: 0.9rem;
  font-weight: bold;
  align-self: flex-end;
  padding-bottom: 0.6rem;
  padding-left: 1rem;
  padding-right: 1rem;
  transition: all 0.5s ease-in-out;
}
.dish-card .wrap {
  display: flex;
  height: 100%;
  transition: all 0.5s ease-in-out;
}
.dish-card .dish-card__choose {
  height: 100%;
  width: fit-content;
  background-color: #99e2d0;
  font-size: 2rem;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.dish-card .dish-card__choose i {
  transform: rotate(360deg);
  transition: all 0.5s ease-in-out;
}
.dish-card:hover .dish-card__headings {
  min-width: calc(100% - 150px);
}
.dish-card:hover .dish-card__choose i {
  transform: rotate(0deg);
}

/*# sourceMappingURL=main.css.map */
