// BASIC STYLING
a {
  text-decoration: none;
  color: black;

  &:active {
    color: black;
  }
}

.body-home {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  animation: overflowContent 0.25s ease forwards;
  animation-delay: 4.5s;

  @include size("lg") {
    body {
    }
  }
}
