.restaurants {
  padding: 3rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;

  h2 {
    align-self: flex-start;

    @include size("md") {
      font-size: 1.8rem;
    }
  }

  .restaurants__container {
    padding: 2rem 0 0 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;

    @include size("md") {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;

      a {
        width: 45%;
      }
    }
  }
}
