.btn {
  color: white;
  background: rgb(244, 103, 239);
  background: linear-gradient(
    164deg,
    rgba(244, 103, 239, 1) 4%,
    rgba(143, 57, 184, 1) 100%
  );

  box-shadow: 4px 4px 10px rgb(226, 226, 226);

  padding: 1rem 1.5rem;
  border-radius: 30px;
  font-size: 1rem;
  transition: all 0.25s ease-in-out;

  &:hover {
    background: rgb(244, 103, 239);
    background: linear-gradient(
      164deg,
      rgba(235, 114, 231, 1) 4%,
      rgba(179, 88, 221, 1) 100%
    );
    box-shadow: 4px 4px 10px rgb(160, 159, 159);
    transform: scale(1.05);
  }
}

.hero-banner__button {
  @extend .btn;
}

.menu__btn {
  @extend .btn;
  padding: 1rem 3rem;

  @include size("md") {
    font-size: 1.2rem;
  }
}
