.dish-card {
  display: flex;
  background-color: white;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  height: 10vh;
  cursor: pointer;
  opacity: 0;
  animation: fade-in 1s ease-in-out forwards;
  @for $i from 1 through 10 {
    &:nth-child(#{$i}n) {
      animation-delay: #{$i * 0.25}s;
    }
  }

  .dish-card__infos {
    height: 100%;
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
    flex: 1;
  }
  .dish-card__headings {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding-right: 0rem;
    p {
      font-weight: lighter;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 300px;
    }
  }

  .dish-card__price {
    font-size: 0.8rem;
    font-weight: bold;
    align-self: flex-end;
    padding-bottom: 1rem;
    transform: translateX(60px);
    transition: all 0.5s ease-in-out;
  }

  .dish-card__choose {
    height: 100%;
    width: fit-content;
    background-color: $thirdary;
    font-size: 2rem;
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    transform: translateX(80px);
    transition: all 0.5s ease-in-out;
  }

  &:hover .dish-card__choose {
    transform: translateX(0px);
  }

  &:hover .dish-card__price {
    transform: translateX(0px);
  }
}
