footer {
  background-color: rgb(41, 40, 40);
  padding: 2rem;

  .footer__logo {
    color: white;
    width: 25%;
    padding-bottom: 1rem;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .footer__links-container {
    display: flex;
    flex-direction: column;
    gap: 10px;

    a {
      color: white;
      display: flex;
      align-items: center;

      i {
        font-size: 0.7rem;
        padding-right: 1rem;
      }

      .fa-hands-helping {
        width: 10px;
      }
    }

    .footer__links {
      font-weight: 900;
    }
  }
}
