*::after,
*::before {
  box-sizing: border-box;
}

.heart {
  width: 40px;
  height: 40px;
}

.icon {
  fill: transparent;
  stroke: rgb(23, 24, 23);
  stroke-width: 1px;
  cursor: pointer;
  position: relative;
  transition: all 0.25s ease-out;

  svg {
    overflow: visible;
    width: 2rem;
  }

  path {
    stroke-dashoffset: 100;
    stroke-dasharray: 1550;
    transform-origin: center;
  }

  .heart--background {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    stroke: none;
    fill: url(#gradient-fill);
    pointer-events: none;
    opacity: 0;
    transition: all 1s ease-in-out;
  }

  .heart--main:hover {
    animation: fill-animation 0.8s ease-in-out infinite;
    stroke: none;
  }
  .heart--main:hover + .heart--background {
    opacity: 1;
    animation: fill-animation 0.8s ease-in-out infinite;
  }
}
