header {
  background-color: white;
  height: 9vh;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: sticky;
  z-index: 2000;

  h1 {
    font-size: 2rem;
  }

  .header__container {
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
}

.header--pages {
  position: sticky;
  top: 0;
  z-index: 2000;

  h1 {
    flex: 1;
    text-align: center;
  }

  .header__backBtn {
    font-size: 1.2rem;
    position: absolute;
    left: 0;
    color: rgb(104, 104, 104);
  }
}
