.loader-spinner {
  display: flex;
  gap: 5px;
  &__center {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    background-color: $secondary;
    animation: bounce 1.8s infinite ease-in-out;
    animation-delay: -0.16s;
  }
  &__left {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    background-color: $primary;
    animation: bounce 1.8s infinite ease-in-out;
  }

  &__right {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    background-color: $thirdary;
    animation: bounce 1.8s infinite ease-in-out;
    animation-delay: -0.32s;
  }
}
